<!DOCTYPE html>  
<html lang="ko">  

<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title><%= title %></title>  
  <link rel="stylesheet" href="/css/style.css">  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
</head>  

<body>  
  <header class="main-header">  
    <nav class="navbar">  
      <div class="navbar-logo">Profile</div>  
      <ul class="nav-links">  
        <li><a href="/">홈</a></li>  
        <li><a href="/profile">프로필</a></li>  
        <li><a href="/blog">블로그</a></li>  
        <li><a href="/contact">문의하기</a></li>  
        <li><a href="/contactList">문의 목록</a></li>  
      </ul>  
    </nav>  
  </header>  

  <!-- JavaScript 파일 -->  
  <script src="/js/script.js"></script>  
</body>  

</html>